@media (max-width: 768px) {
    #print {
        display: none !important;
    }

    .card {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .left,
    .right {
        width: 100%;
        min-width: unset;
    }

    .right {
        align-items: stretch;
    }
}